<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
</head>
<body>
    <div th:if="${param.error}">
        username or password in incorrect
    </div>
    <form method="post" th:action="@{/login}" class="form-control">
        username:<input type="text" name="username" class="col-lg-offset-1" />
        password:<input type="password" name="password" class="col-lg-offset-2" />
        <input type="submit" value="login" class="btn">
    </form>
</body>
</html>